<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-white">
  <body class="h-full">
  ```
-->
<div>
  <%= render "shared/mobile_sidebar" %>
  <%= render "shared/desktop_sidebar" %>
  <div class="sticky top-0 z-40 flex items-center gap-x-6 bg-gray-900 px-4 py-4 shadow-sm sm:px-6 lg:hidden">
    <button type="button" class="-m-2.5 p-2.5 text-gray-400 lg:hidden" id="open-sidebar">
      <span class="sr-only">Open sidebar</span>
      <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    </button>
  </div>
</div>
<script>
  var mobileSidebar = document.getElementById('mobile-sidebar');
  var closeSidebarButton = document.getElementById('close-sidebar');

  closeSidebarButton.addEventListener('click', () => {
    mobileSidebar.classList.add('hidden');
  });

  var openSidebarButton = document.getElementById('open-sidebar');

  openSidebarButton.addEventListener('click', () => {
    mobileSidebar.classList.remove('hidden');
  });

  document.querySelectorAll(".js-folders").forEach((el) => {
    el.addEventListener("click", (e) => {
      e.preventDefault();
      el.nextElementSibling.classList.toggle("hidden");
    });
  });
</script>
